<%- include('layout.ejs') %>
<div class="card card-custom p-4">
  <h2 class="mb-4">Edit AE Title</h2>
  <form action="/edit-ae-title/<%= aeTitle.name %>" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= aeTitle.name %>" readonly>
    </div>
    <div class="mb-3">
      <label for="host" class="form-label">Host</label>
      <input type="text" class="form-control" id="host" name="host" value="<%= aeTitle.host %>" required>
    </div>
    <div class="mb-3">
      <label for="port" class="form-label">Port</label>
      <input type="number" class="form-control" id="port" name="port" value="<%= aeTitle.port %>" required>
    </div>
    <div class="mb-3">
      <label for="aeTitle" class="form-label">AE Title</label>
      <input type="text" class="form-control" id="aeTitle" name="aeTitle" value="<%= aeTitle.aetitle %>" required>
    </div>
    <div class="mb-3">
      <label for="remoteAETitle" class="form-label">Remote AE Title</label>
      <input type="text" class="form-control" id="remoteAETitle" name="remoteAETitle" value="<%= aeTitle.remoteaetitle %>" required>
    </div>
    <button type="submit" class="btn btn-custom">Update AE Title</button>
  </form>
</div>